.main {
    height: 100%;
    width: 100%;
}

.head {
    right: 0px;
    left: 0px;
    top: 0px;
    width: 100%;
}

.headleft {
    width: 770px;
    float: left;
}

.logo {
    background: url(../../img/logo.png);
    background-size: 100%;
    width: 260px;
    height: 30px;
    float: left;
    margin-top: 28px;
    cursor: pointer;
}

.searchbox {
    position: relative;
    float: right;
    height: 60px;
    width: 400px;
    margin-top: -7px;
}

.searchbox input {
    background: #fff;
    background-clip: padding-box;
    border: solid red 2px;
    border-radius: 4px;
    height: 32px;
    margin: 30px 15px 0;
    width: 294px;
    outline: none;


}

.searchbox label {
    background: #f84e4e;
    color: white;
    height: 38px;
    right: 10px;
    width: 81px;
    cursor: pointer;
    position: absolute;
    text-align: center;
    line-height: 38px;
    top: 30px;
    border-radius: 0 4px 4px 0;
}

.headright {
    float: right;
    width: 150px;
    height: 81px;
}

.btnsignin {
    position: absolute;
    margin-top: 20px;
    text-align: center;
    left: 980px;
    width: 100px;
    height: 40px;
    cursor: pointer;
}

.maintable {
    display: table;
    height: 100%;
    width: 100%;
}

.wrapper {
    margin: 0 AUTO;
    width: 980px;
    position: relative;


}

.top-nav {
    margin: 0px;
    padding: 0px;
    list-style: none;
    position: relative;
}

.top-nav-bar {
    height: 40px;
    font-size: 15px;
    color: #fff;
    box-sizing: border-box;
    width: 160px;
    float: left;



}

.headnav {
    height: 40px;
    background: #f84e4e;
    clear: both;
    width: 100%;
    z-index: 111111;
    top: 0px;

}

#ntba-home {
    position: relative;
    height: 20px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    padding: 10px 31px;
    z-index: 111111;
    display: block;
    text-decoration: none;
    cursor: pointer;
}

#ntba-home.active {
    background: #e32f2f;
}

.ntba {
    position: relative;
    height: 20px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    padding: 10px 31px;
    z-index: 111111;
    display: block;
    text-decoration: none;
    cursor: pointer;


}

.top-nav-bar:hover {
    background-color: #e32f2f;
}

.submenu {
    position: absolute;
    background-color: #fff;
    z-index: 111111;
    display: none;
    border: 1px solid #e3e3e3;
    list-style: none;
    width: 157px;
    padding: 0 0;
}

.top-nav-bar:hover ul {
    display: block
}

;

.submenu-bar {
    position: relative;
    height: 40px;
}

.subntba {
    position: relative;
    line-height: 36px;
    color: #555555;
    margin: 0px 5px;
    display: block;
    text-decoration: none;
    border-bottom: #c8c7cc dotted 1px;
    text-align: center;
    width: 120px;
    cursor: pointer;
    left: 10px;
}

.subntba:hover {
    color: red;
}

.submenu-bar:hover {
    background: #e3e3e3;
}

.arrow {
    background: url(../../img/arrow_pulldown.png);
    position: relative;
    left: 5px;
    width: 7px;
    height: 4px;
    vertical-align: middle;
    display: inline-block;
}

.headdownload {
    background: url(../../img/icon_download.png);
    position: relative;
    display: inline-block;
    vertical-align: middle;
    top: -32px;
    left: 20px;
    width: 14px;
    height: 24px;
}

.banner-wrapper {
    background: url(../../img/bg.png)no-repeat;
    height: 450px;
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
}

.banner-logo {
    background: url(../../img/bg2.png)no-repeat;
    background-size: 100%;
    display: block;
    width: 362px;
    height: 100px;
    top: 50px;
    left: 485px;
    position: absolute;
}

.download {
    left: 484px;
    top: 180px;
    position: relative;
}

.btn-ios {
    background: url(../../img/btn_download_ios.png);
    display: inline-block;
    width: 194px;
    height: 52px;
    cursor: pointer;
}

.btn-ios:hover {
    background: url(../../img/btn_download_ios_hover.png);
}

.btn-android {
    background: url(../../img/btn_download_android.png);
    display: inline-block;
    width: 194px;
    height: 52px;
    cursor: pointer;
    margin-left: 10px;
}

.btn-android:hover {
    background: url(../../img/btn_download_android_hover.png);

}

.android-download-list {
    width: 194px;
    left: 210px;
    position: absolute;
    display: block;
    top: 52px;
    display: none;
}

.adl-item {
    width: 100%;
    height: 49px;
    float: left;
    background: rgba(74, 74, 74, .95);
    opacity: .9;
    border-top: solid 1px #aaa;
    color: white;
    text-align: center;
    line-height: 45px;
    text-decoration: none;

}

.btn-android:hover .android-download-list {
    display: block
}
.social{
    background: url(../../img/code.png)no-repeat 271px 59px;
    height:100px;
    margin-left: 485px;
    padding-top: 40px;
    margin-top:200px;
    
}
.webo{
    margin-top: 50px;
}
.social p{
    font-size: 18px;
    color:white;
}
.icon-weibo{
    background-image: url("../../img/index_icon.png");
    margin-right: 12px;
    background-position: -78px -472px;
    display: inline-block;
    width: 28px;
    height: 28px;
    vertical-align: middle;
    background-repeat: no-repeat;
}
.link{
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    cursor: pointer;
}
.phone{
    width: 388px;
    height: 402px;
    position: absolute;
    background-size: cover;
    background: url(../../img/bg_slideshow_banner.png);
    left: 1080px;
    top: 117px;
}
.recomend{
    margin-top: 50px;
}
.recomend-list{
    width: 1024px;
    display: block;
    margin: 0 auto;
}
.post-item{
    width:310px;
    height: 400px;
    border-radius: 6px;
    border: solid #dedede thin;
    float: left;
    margin-bottom: 30px;
    background: #fff;
    margin-right: 22px;
    list-style: none;
    position: relative;
}
.pitem{
    position: relative;
    display: block;
    width:100%;
    height: 100%;
    text-decoration: none
}
.picture{
    /*background: url(../../img/liwu01.jpg);*/
    background-size: cover;
    width:100%;
    height: 50%;
    border-radius: 6px 6px 0 0;
}
.new{
    position: absolute;
    left:0px;
    top:0px;
    width: 57px;
    height: 56px;
    background: url(../../img/icon_tag_new.png);
}
.title{
    font-size: 18px;
    padding: 15px;
    color: #333;
    line-height: 25px;
}
.subtitle{
    font-size: 14px;
    color: #888;
    height: 80px;
    padding: 15px;
    padding-top:0px;
    line-height: 21px;
}
.info{
    position: absolute;
    bottom: 0px;
    left:0px;
    padding: 15px;
    list-style: none;
}
.info-item{
    float: left;
    margin-right: 15px;
    height: 17px;
}
.like{
    background: url(../../img/icon_favorites.png);
    display: block;
    float: left;
    height: 17px;
    width: 18px;
}
.comment{
    background: url(../../img/icon_comments.png);
    display: block;
    float: left;
    height: 17px;
    width: 18px;
}
.share{
    background: url(../../img/icon_comments.png);
    display: block;
    float: left;
    height: 17px;
    width: 18px;
}
.info-item span{
    font-size: 14px;
    line-height: 18px;
    color: #333;
    display: block;
    margin: -1px 0 0 24px
}
.bdiv{
    display: block;
    position: fixed;
    top:0px;
    left:0px;
    bottom: 0px;
    right:0px;
    z-index: 9999999;
    background: rgba(0,0,0,.5);
    display: none;
}
.signdiv{
    z-index:9999999 ;
    position: fixed;
    display: none;
    width: 385px;
    top:30%;
    left:40%;
    display: none;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 7px rgba(0,0,0,.3);
    overflow: hidden;
}
.signhead{
    padding: 15px;
    text-align: center;
    color: #f84e4e;
    border-bottom: 1px solid #eee;
}
.user{
    margin-top: 20px;
    margin-left: 5px;
}
.password{
    margin-left: 20px;
}
.signbutton{
    bottom:5px;
    left:20px;
    margin-right: 5px;
    position: relative;
}
.selfinfo{
    position: absolute;
    margin-top: 20px;
    left: 980px;
    width: 100px;
    height: 40x;
}
.selfimg{
    float: left;
    widows: 30px;
    height: 30px;
    margin-right: 10px;
    background: #333;

}
.headnavnone {
    height: 40px;
    background: #f84e4e;
    clear: both;
    width: 100%;
    z-index: 111111;
    top: 0px;
    position: fixed;
    display: none;
}
.nav-searchbox{
    background: #fff;
    background-clip: padding-box;
    border: solid red 2px;
    border-radius: 4px;
    width: 200px;
    height: 20px;
    outline: none;
    margin-top: 7px;
}