.main{
    height:100%;
    width:100%;
}
.head{
    right: 0px;
    left:0px;
    top:0px;
    width:980px;
}
.headleft{
    width:770px;
    float: left;
}
.logo{
    background:url(/project/img/logo.png);
    background-size: 100%;
    width:260px;
    height:30px;
    float: left;
    margin-top: 28px;
}
.searchbox{
    position: relative;
    float: right;
    height: 60px;
    width: 400px;
    margin-top: 12px;
}
.searchbox input{
    background: #fff;
    background-clip: padding-box;
    border: solid red 2px;
    border-radius: 4px;
    height: 32px;
    margin: 30px 15px 0;
    width:294px;
    outline: none;
    

}
.searchbox label{
    background:#f84e4e;
    color: white;
    height: 38px;
    right:10px;
    width: 81px;
    cursor: pointer;
    position:absolute;
    text-align: center;
    line-height: 38px;
    top:30px;
    border-radius: 0 4px 4px 0;
}
.headright{
    float: right;
    width:150px;
    height: 81px;
}
.btnsignin{
    position: absolute;
    margin-top: 26px;
    text-align: center;
    right: 0px;
    width: 100px;
    height: 36px;
}